body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* over write  */
.bg-primary {
  background-color: #ff0000 !important;
}

.available-seats {
  margin: 10px;
  padding: 10px;
  color: white;
  display: inline-block;
}

.primary-bg {
  background-color: #ff0000 !important;
}

.warning-bg {
  background-color: #ff8c00;
}

.amber-bg {
  background-color: #ffc107;
}

.success-bg {
  background-color: #008000;
}

.limited {
  color: #ff8c00;
}

.navbar {
  background-color: transparent;
}

.navbar-brand img {
  transition: transform 0.3s;
}

.navbar-brand img:hover {
  transform: scale(1.05);
}

.nav-link {
  font-weight: 500;
  color: #555;
}

.nav-link:hover {
  color: #ff0000;
  text-decoration: underline;
}

.btn-primary {
  margin-left: 15px;
  background-color: #ff0000;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #ff0000;
}

.container-fluid {
  padding: 10px;
}

/* card hover start */
.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
/* card hover end */

.travelerAlignment {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .navbar {
    text-align: center;
  }

  .nav-item {
    margin-bottom: 10px;
  }
}
